@model TeacherWithClassesViewModel
@{
    ViewData["Title"] = "Notes";
}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <p class="card-title">Notes Table</p>
        @* <a asp-area="Personel" asp-controller="Personel" asp-action="Index" class="btn btn-outline-success ">Add
        Note</a> *@
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>StudentName</th>
                    <th>StudentClass</th>
                    <th>MidtermNote</th>
                    <th>FinalNote</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sclass in Model.TeacherClasses)
                {
                    @foreach (var student in sclass.SClass.Students)
                    {
                        <tr>
                            <td>@student.Id</td>
                            <td>@student.Name</td>
                            <td>@sclass.SClass.Name</td>
                            @if (student.Notes.Count == 1)
                            {
                                if (student.Notes[0].Name == "Midterm")
                                {
                                    <td>@student.Notes[0].Name : @student.Notes[0].Point</td>
                                    <td>Not : Girilmedi</td>
                                }
                                else
                                {
                                    <td>Not : Girilmedi</td>
                                    <td>@student.Notes[0].Name : @student.Notes[0].Point</td>
                                }
                            }
                            else if (student.Notes.Count == 2)
                            {

                                <td>@student.Notes.Where(x => x.Name == "Midterm").SingleOrDefault().Name : @student.Notes.Where(x => x.Name == "Midterm").SingleOrDefault().Point</td>
                                <td>@student.Notes.Where(x => x.Name == "Final").SingleOrDefault().Name : @student.Notes.Where(x => x.Name == "Final").SingleOrDefault().Point</td>
                            }
                            else
                            {
                                <td>Not : Girilmedi</td>
                                <td>Not : Girilmedi</td>
                            }
                            
                            <td class="d-flex justify-content-around">
                                @if (student.Notes.Count < 2)
                                {
                                    <a asp-area="Personel" asp-controller="Student" asp-action="NoteAdd" asp-route-id="@student.Id"
                                        class="btn btn-primary">Add Note</a>
                                }
                                @if (student.Notes.Count == 1)
                                {
                                    if (student.Notes.SingleOrDefault().Name == "Midterm")
                                    {
                                        <a asp-area="Personel" asp-controller="Student" asp-action="NoteUpdate"
                                            asp-route-id="@student.Notes[0].Id" class="btn btn-primary">MidtermUpdate</a>
                                    }
                                    else if (student.Notes.SingleOrDefault().Name == "Final")
                                    {
                                        <a asp-area="Personel" asp-controller="Student" asp-action="NoteUpdate"
                                            asp-route-id="@student.Notes[0].Id" class="btn btn-primary">FinalUpdate</a>
                                    }
                                    else
                                    {

                                    }

                                }
                                else if (student.Notes.Count == 2)
                                {
                                    <a asp-area="Personel" asp-controller="Student" asp-action="NoteUpdate"
                                        asp-route-id="@student.Notes.Where(x=>x.Name == "Midterm").SingleOrDefault().Id" class="btn btn-primary">MidtermUpdate</a>
                                    <a asp-area="Personel" asp-controller="Student" asp-action="NoteUpdate"
                                        asp-route-id="@student.Notes.Where(x=>x.Name == "Final").SingleOrDefault().Id"
                                        class="btn btn-primary">FinalUpdate</a>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
            @* <tfoot>
            <tr>
            <th>Rendering engine</th>
            <th>Browser</th>
            <th>Platform(s)</th>
            <th>Engine version</th>
            <th>CSS grade</th>
            </tr>
            </tfoot> *@
        </table>
    </div>
    <!-- /.card-body -->
</div>

@section CssCodes {

    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
                @* <link rel="stylesheet" href="~/dist/css/adminlte.min.css"> *@
}
@section Scripts {

    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    @* <script src="~/dist/js/adminlte.min.js"></script> *@
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
}
