@model UpdateStudentViewModel
@{
    ViewData["Title"] = "Index";
    int userId = ViewBag.UserId;
}

<div class="my-card-container my-2">
    <div class="card my-card-personel w-100" style="width: 18rem;">
        <div class="row w-100">
            <div class="col-sm-3 col-">
                <img src="~/img/photo.jpg" class="card-img-top" alt="...">
            </div>
            <div class="col-sm-9 col-">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <h1>Student Information</h1>
                            <div class="my-contact-item">
                                <p>@Model.FirstName @Model.LastName</p>
                            </div>
                            <div class="my-contact-item">
                                <p>@Model.BirthDate.Date</p>

                            </div>
                            <div class="my-contact-item">
                                <p>@Model.Email</p>
                            </div>
                            <div class="my-contact-item">
                                <a asp-area="Student" asp-controller="StudentClub" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary m-1">Change StudentClub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    

}